.container {
    float:left;
    width:50%
  
    
  }
  .container2 {
      float:right;
      width:50%
      
    }

    h1{
        color: seagreen;
    }
    ol li{
        font-size:32px;
       }